In [33]:
# Dependencies and Setup
import pandas as pd
import json
import numpy as np

# SQL Alchemy Dependencies
import sqlalchemy
from sqlalchemy import create_engine

In [34]:
# Read movie_metadata.csv into movie_df
movie_df = pd.read_csv("Resources/genre_movie_swear.csv")
movie_df.rename(columns={'movie_title':'title'}, inplace=True)

In [35]:
# Read all_script.csv into script_df
script_df = pd.read_csv("Resources/updated_all_script.csv")
script_df

,title,Swear_Count,Fuck_Count,Shit_Count,Bitch_Count,Cunt_Count,Profanity
0,10 Things I Hate About You,15,3,6,6,0,TRUE
1,12,2,2,0,0,0,TRUE
2,12 and Holding,21,10,10,1,0,TRUE
3,12 Monkeys,17,11,4,2,0,TRUE
4,12 Years a Slave,1,0,0,1,0,TRUE
...,...,...,...,...,...,...,...
1206,You've Got Mail,9,4,4,1,0,TRUE
1207,Youth in Revolt,6,2,4,0,0,TRUE
1208,Zero Dark Thirty,44,41,2,1,0,TRUE
1209,Zerophilia,18,14,4,0,0,TRUE
1210,Zootopia,0,0,0,0,0,[]

In [36]:
movie_df.dtypes

Unnamed: 0                     int64
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
actor_1_name                  object
title                         object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
Action                         int64
Adventure                      int64
Animation                      int64
Biography                      int64
Comedy                         int64
Crime                          int64
Documentary                    int64
Drama                          int64
Family                         int64
Fantasy                        int64
Film-Noir                      int64
Game-Show                      int64
History                        int64
Horror                         int64
Music                          int64
Musical                        int64
Mystery                        int64
News                           int64
Reality-TV                     int64
Romance                        int64
Sci-Fi                         int64
Short                          int64
Sport                          int64
Thriller                       int64
War                            int64
Western                        int64
dtype: object

In [37]:
# Select
cleaned_movie_df = movie_df

In [38]:
cleaned_movie_df['profit'] = cleaned_movie_df['gross']- cleaned_movie_df['budget']

In [39]:
comparison_column = np.where(cleaned_movie_df["budget"] <= cleaned_movie_df["gross"], True, False)

In [40]:
cleaned_movie_df['breakeven'] = comparison_column

In [41]:
cleaned_movie_df = cleaned_movie_df.drop_duplicates(subset=['title'])

In [42]:
cleaned_movie_df['gross(in millions USD)'] = cleaned_movie_df['gross']/1000000

<ipython-input-42-a676bd7a0432>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_movie_df['gross(in millions USD)'] = cleaned_movie_df['gross']/1000000

In [43]:
cleaned_movie_df['budget(in millions USD)'] = cleaned_movie_df['budget']/1000000

<ipython-input-43-d5469ac96c32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_movie_df['budget(in millions USD)'] = cleaned_movie_df['budget']/1000000

In [44]:
cleaned_movie_df['profit(in millions USD)'] = cleaned_movie_df['profit']/1000000

<ipython-input-44-b25518f2b02a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_movie_df['profit(in millions USD)'] = cleaned_movie_df['profit']/1000000

In [45]:
cleaned_movie_df = cleaned_movie_df.drop(columns= ['gross','budget','profit'])

In [46]:
cleaned_movie_df

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,...,Sci-Fi,Short,Sport,Thriller,War,Western,breakeven,gross(in millions USD),budget(in millions USD),profit(in millions USD)
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,CCH Pounder,...,1,0,0,0,0,0,True,760.505847,237.0000,523.505847
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Johnny Depp,...,0,0,0,0,0,0,True,309.404152,300.0000,9.404152
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Christoph Waltz,...,0,0,0,1,0,0,False,200.074175,245.0000,-44.925825
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Tom Hardy,...,0,0,0,1,0,0,True,448.130642,250.0000,198.130642
4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Doug Walker,...,0,0,0,0,0,0,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,Eric Mabius,...,0,0,0,0,0,0,False,NaN,NaN,NaN
5039,5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,Natalie Zea,...,0,0,0,1,0,0,False,NaN,NaN,NaN
5040,5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,Eva Boehnke,...,0,0,0,1,0,0,False,NaN,0.0014,NaN
5041,5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,Alan Ruck,...,0,0,0,0,0,0,False,0.010443,NaN,NaN
5042,5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,John August,...,0,0,0,0,0,0,True,0.085222,0.0011,0.084122

In [18]:
cleaned_movie_df['title'].astype("string")

0                                                  Avatar
1                Pirates of the Caribbean: At World's End
2                                                 Spectre
3                                   The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
                              ...
5038                              Signed Sealed Delivered
5039                            The Following
5040                                 A Plague So Pleasant
5041                                     Shanghai Calling
5042                                    My Date with Drew
Name: title, Length: 4917, dtype: string

In [19]:
script_df['title'].astype("string")

0       10 Things I Hate About You
1                               12
2                   12 and Holding
3                       12 Monkeys
4                 12 Years a Slave
                   ...
1206               You've Got Mail
1207               Youth in Revolt
1208              Zero Dark Thirty
1209                    Zerophilia
1210                      Zootopia
Name: title, Length: 1211, dtype: string

In [20]:
script_df.dtypes

title          object
Swear_Count     int64
Fuck_Count      int64
Shit_Count      int64
Bitch_Count     int64
Cunt_Count      int64
Profanity      object
dtype: object

In [21]:
movie_swear_df = pd.merge(cleaned_movie_df,script_df,how='inner',on='title')
#movie_df.join(script_df, on='title',how='outer')

movie_swear_df

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,...,breakeven,gross(in millions USD),budget(in millions USD),profit(in millions USD),Swear_Count,Fuck_Count,Shit_Count,Bitch_Count,Cunt_Count,Profanity
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,CCH Pounder,...,True,760.505847,237.000,523.505847,18,1,11,6,0,TRUE
1,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Tom Hardy,...,True,448.130642,250.000,198.130642,2,0,0,2,0,TRUE
2,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,Alan Rickman,...,True,301.956980,250.000,51.956980,0,0,0,0,0,[]
3,13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,Johnny Depp,...,True,423.032628,225.000,198.032628,0,0,0,0,0,[]
4,17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,Chris Hemsworth,...,True,623.279547,220.000,403.279547,24,13,10,1,0,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,4860,Color,Vincenzo Natali,99.0,90.0,165.0,319.0,Julian Richings,686.0,David Hewlett,...,True,0.489220,0.365,0.124220,26,24,1,1,0,TRUE
742,4896,Color,Doug Liman,77.0,96.0,218.0,31.0,Alex DÃ©sert,4000.0,Jon Favreau,...,True,4.505922,0.200,4.305922,52,12,20,20,0,TRUE
743,4973,Black and White,Darren Aronofsky,138.0,84.0,0.0,194.0,Clint Mansell,1000.0,Mark Margolis,...,True,3.216970,0.060,3.156970,13,10,3,0,0,TRUE
744,5008,Black and White,Kevin Smith,136.0,102.0,0.0,216.0,Brian O'Halloran,898.0,Jason Mewes,...,True,3.151130,0.230,2.921130,118,78,35,2,3,TRUE
745,5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,Carlos Gallardo,...,True,2.040920,0.007,2.033920,0,0,0,0,0,[]

In [30]:
movie_swear_df = movie_swear_df.drop(columns= "Unnamed: 0" )

In [31]:
movie_swear_df.to_csv("Resources/movie_swear.csv")

In [32]:
movie_swear_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,title,...,breakeven,gross(in millions USD),budget(in millions USD),profit(in millions USD),Swear_Count,Fuck_Count,Shit_Count,Bitch_Count,Cunt_Count,Profanity
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,CCH Pounder,Avatar,...,True,760.505847,237.0,523.505847,18,1,11,6,0,TRUE
1,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Tom Hardy,The Dark Knight Rises,...,True,448.130642,250.0,198.130642,2,0,0,2,0,TRUE
2,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,Alan Rickman,Harry Potter and the Half-Blood Prince,...,True,301.956980,250.0,51.956980,0,0,0,0,0,[]
3,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,...,True,423.032628,225.0,198.032628,0,0,0,0,0,[]
4,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,Chris Hemsworth,The Avengers,...,True,623.279547,220.0,403.279547,24,13,10,1,0,TRUE

In [ ]:
# Create database connection and load quake.df into database
rds_connection_string = "postgres:postgres@localhost:5432/movie_swear_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
cleaned_movie_df.to_sql(name='movie',con=engine, if_exists='replace',index=False)

In [ ]:
script_df.to_sql(name='script',con=engine, if_exists='replace',index=False)

In [ ]:
movie_swear_df.to_sql(name='movie_swear',con=engine, if_exists='replace',index=False)